.place__button-like {
  background: url(../../../images/heart-empty.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  margin: 0 0 3px;
  width: 22px;
  height: 19px;
  cursor: pointer;
  padding: 0;
  transition: opacity .5s linear;
}

.place__button-like:hover {
  opacity: .5;
}
