.place__description {
  background-color: #FFF;
  display: flex;
  color: #000;
  min-height: 80px;
  border-radius: 0 0 10px 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0 21px;
}
